/* Estilos del botón de búsqueda */
.search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    right: 2rem;
    top: 7.5%;
    transform: translateY(-50%);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.search-btn i {
    color: #ffffff;
    margin-top: -40px;
}

/* Estilos del modal */
.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s;
}

.modal-content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal.active .modal-content {
    opacity: 1;
    transform: translateY(0);
}

.close {
    position: absolute;
    top: 1px;
    right: 8px;
    font-size: 1.5rem;
    cursor: pointer; 
    color: #000000;
}

.search-input {
    width: 90%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-buscar {
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Responsividad */
@media (min-width: 768px) {
    .search-btn {
        right: 3.0rem;
        top: 4.6rem;
    }
}

@media (max-width: 768px) {
    .search-btn {
        right: 1rem;
        top: 1rem;
        transform: none;
    }

    .modal-content {
        width: 95%;
    }

    .search-btn {
        right: 3.0rem;
        top: 4.7rem;
    }
}



